body {
    position: relative;
    background: lightblue;
    /* For browsers that do not support gradients */
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/woodenbg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: darkgreen;
    border: 15px solid rgb(111, 0, 0);
    border-radius: 200px;
    display: none;
}

#animationContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#resultPage {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#imageSecond {
    top: 40%;
    position: absolute;
    left: 65%;
}

#imageOne {
    top: 40%;
    position: absolute;
    left: 25%;
}

button {
    top: 50%;
    position: absolute;
    margin-left: -4%;
}

h1 {
    top: 40%;
    position: relative;
    color: white;
}